<div class="modal-overlay" *ngIf="visible" appAlCuerpo
  (mousedown)="alPresionarEnElFondo($event)" (click)="alSoltarEnElFondo($event)">
  <div class="modal-container" [style.max-width]="ancho" (click)="$event.stopPropagation()">
    <div class="modal-header" [class.modal-header--marca]="cabeceraMarca">
      <h2>{{ titulo }}</h2>
      <button class="btn-close" (click)="cerrar()" [disabled]="guardando">
        <app-icon icono="close"></app-icon>
      </button>
    </div>

    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    <div class="modal-footer">
      <ng-content select="[modalFooter]"></ng-content>
      <ng-container *ngIf="!ocultarBotonesPorDefecto">
        <button class="btn-secondary" [disabled]="guardando" (click)="cerrar()">Cancelar</button>
        <button class="btn-primary" [disabled]="guardando" (click)="guardar.emit()">
          <span *ngIf="guardando" class="spinner-small"></span>
          {{ guardando ? 'Guardando...' : textoGuardar }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
